
/* Layout */
.page-title .fa,
.page-title i[class*=icon-] {
	font-size: 1.2em;
    margin-right: 5px;
}

.page-header {
	position: fixed;
    width: 100%;
    z-index: 950;
}

#vmt_content {
	margin-top: 115px;
}

@media (max-width: 768px) {
	.page-header {
		position: static;
	}
	#vmt_content {
		margin-top: 0px;
	}
}

.heading-elements {
	right: 280px;
}

.validation-error-label,
.validation-valid-label {
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	color: #F44336;
	font-size: 0px;
	position: relative;
	padding-left: 0px;
}
.validation-valid-label {
	color: #4CAF50;
}
.validation-error-label:before,
.validation-valid-label:before {
	font-family: 'icomoon';
	position: absolute;
	top: -25px;
	left: -6%;
	display: inline-block;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}
.validation-error-label:empty,
.validation-valid-label:empty {
	display: none;
}
.validation-error-label:before {
	content: '\ed63';
}
.validation-valid-label:before {
	content: '\ee73';
}

.vmt-error{
	border-color: red;
}

.panel-overflow{
	margin-left: -10px;
	margin-top: -10px;
	overflow: auto;
	height:470px;
}
.vmt-table-medium > tbody > tr > th,
.vmt-table-medium > tfoot > tr > th,
.vmt-table-medium > thead > tr > td,
.vmt-table-medium > tbody > tr > td,
.vmt-table-medium > tfoot > tr > td {
	padding: 10px 10px;
	margin: 0px 0px;
	height: 0px;
	line-height: 1;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}	

.vmt-table-medium > thead > tr > th{
	padding: 10px 20px;
	text-align: center;
}

.vmt-table-small > tbody > tr > th,
.vmt-table-small > tfoot > tr > th,
.vmt-table-small > thead > tr > td,
.vmt-table-small > tbody > tr > td,
.vmt-table-small > tfoot > tr > td {
	padding: 2px 10px;
	margin: 0px 0px;
	height: 0px;
	line-height: 1;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}	

.vmt-table-small > thead > tr > th{
	padding: 10px 20px;
	text-align: center;
}

.vmt-button-small{
	height:25px;
	width:25px;
}

.vmt-button-wide{
	height:30px;
	width:50px;
}

.vmt-icon-wide{
	left:0px;
	top:-5px;
}

.vmt-icon-small{
	left:-7px;
	top:-7px;
}

.vmt-label-available {
	border-color: #388E3C; 
	background-color: #388E3C; 
	width:100%
}

.vmt-label-full {
	border-color: #F44336; 
	background-color: #F44336; 
	width:100%
}

.vmt-label-prepared {
	border-color: #7B1FA2; 
	background-color: #7B1FA2; 
	width:100%
}

.vmt-label-renovation {
	border-color: #444444; 
	background-color: #444444; 
	width:100%
}

.vmt-sub-modal {
	left:40px; 
	top: 20px;
}

.vmt-label-center {
	margin-top:10px; 
	margin-bottom:-10px; 
}

.bg-vmt-table-header {
	background-color: #0288D1; 
	border-color: #0288D1;
	color: #fff;
}

.bg-vmt-modal-header {
	background-color: #546E7A;
	border-color: #546E7A;
	color: #fff;
}

.bg-vmt-search-button {
	background-color: #0288D1;
	border-color:#0288D1;
	color: #fff;
}

.bg-vmt-verify-button {
	background-color: #0288D1;
	border-color:#0288D1;
	color: #fff;
}

.bg-vmt-add-button {
	background-color: #0288D1;
	border-color:#0288D1;
	color: #fff;
}

.bg-vmt-save-button {
	background-color: #689F38;
	border-color:#689F38;
	color: #fff;
}

.bg-vmt-cancel-button {
	background-color: #E53935;
	border-color:#E53935;
	color: #fff;
}

.bg-vmt-modal-button {
	background-color: #546E7A;
	border-color:#546E7A;
	color: #fff;
}

.bg-vmt-preview {
	background-color: #EF6C00;
	border-color: #EF6C00;
	color: #fff;
}		

/* DataTable */
.table-bordered tr[class*=bg-] > th, 
.table-bordered tr[class*=bg-] > td, 
.table-bordered tr > th[class*=bg-], 
.table-bordered tr > td[class*=bg-] {
    border-color: inherit;
}
.dataTable thead tr {
	background-color: #607D8B;
    border-color: #607D8B;
    color: #fff;
}
.dataTable.table-bordered tr th {
	border-color: inherit;
}
.datatable-scroll-lg, 
.datatable-scroll, 
.datatable-scroll-sm { 
	overflow-x: auto;
	width: 100%;
}

/* Form */
.form-group {
	margin-bottom: 5px;
}

.required {
	color: #D84315;
	font-weight: bold;
}

label.error {
	color: #D84315;
}

.btn-labeled > b > i {
	font-size: 16px;
}

.has-fixed-height-600 {
	height: 600px;
}
.has-fixed-height-800 {
	height: 800px;
}
.has-fixed-height-1000 {
	height: 1000px;
}
.has-fixed-height-1200 {
	height: 1200px;
}
.has-fixed-height-1400 {
	height: 1400px;
}

.form-control-static {
	font-weight: bold;
}

/*
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 6px 10px;
}

.dataTable thead .sorting,
.dataTable thead .sorting_asc,
.dataTable thead .sorting_desc,
.dataTable thead .sorting_asc_disabled,
.dataTable thead .sorting_desc_disabled {
	padding-right: 20px;
}

.dataTable thead .sorting:before, .dataTable thead .sorting:after, .dataTable thead .sorting_asc:after, .dataTable thead .sorting_desc:after, .dataTable thead .sorting_asc_disabled:after, .dataTable thead .sorting_desc_disabled:after {
	right: 5px;
}
*/